/* 
colors
#948D6A
#8AC0A5
#d49550
#4c797e
#693426
#05050f

*/

.App {

}

h1 {
  color: #ebe9da;
  font-family: Banana;
  font-size: 10vw;
  height: 40vh;
  letter-spacing: 0.5rem;
  margin: 0rem 2rem;
  padding-top: 1rem;
  text-shadow: #8ac0a5 -4px -4px 1px, #dcd19c -8px -8px 2px,
    #d49550 -12px -12px 3px, #693426 -16px -16px 4px;
  text-align: center;
 position: fixed;
  margin-bottom: 25vh;
}
